<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq5tLlDyevZ_PLbEPqwxh0Y2lSUiWpQAA</string>
	<key>GCM_SENDER_ID</key>
	<string>1071671271912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noti</string>
	<key>PROJECT_ID</key>
	<string>noti-32f45</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-32f45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071671271912:ios:a746320ab1f3b827b0845d</string>
</dict>
</plist>